* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff299;
  font-family: "Helvetica", sans-serif;
  align-content: center;
  text-align: center;
}
.header {
  background-color: gold;
}
.fraieri{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.om{
  margin: 1%;
}
.logo {
  height: 90px;
  width: 90px;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
}
.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 500px;
  margin-top: 50px;
  height: auto;
  border-radius: 5%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1px 0px;
  background-color: gold;
  color: black;
  text-align: center;
}
